html, body {
  margin: 0;
  padding: 0;
 }

/* Intro */

.video-intro {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}

.play-icon {
  border: 5px solid rgb(146, 16, 16);
  border-radius: 15px;
  font-size: 35px;
  font-family: "Courier New";
  position: fixed;
  z-index: 1;
  margin-top: 50px;
  margin-left: 555px;
}

.play-icon2 {
  border: 5px solid rgb(146, 16, 16);
  border-radius: 15px;
  font-size: 35px;
  font-family: "Courier New";
  position: fixed;
  z-index: 1;
  margin-top: 50px;
  margin-left: 525px;
}

#home-button {
  visibility: hidden;
}


