html, body {
  margin: 0;
  padding: 0;
}

#ready-button  {
  position: absolute;
  top: 65%;
  left: calc(8%);
  font-size: 18px;
  font-weight: bold;
  font-family: "Courier New";
  border: groove 1em red;  
  border-radius: 2em;
}